.container{
  position: absolute;
  top: 80px;
  background: #f7f7f7;
  width: 15%;
  height: 84%;
  display: flex;
  flex-direction: column;
  ul{
    padding-top: 10px;
    span{
      margin-left: 20px;
      display: inline-block;
      margin-bottom: 10px;
    }
    li{
      height: 38px;
      line-height: 38px;
      padding-left: 40px;
      cursor: pointer;
    }
    li:hover{
      background: #e6e6e6;
    }
    img{
      position: absolute;
      width: 6%;
      right: 23px;
      margin-top: 6px;
    }
  }
  li:last-child{
    margin-bottom: 10px;
  }
  .selected{
    background: #e6e6e6;
  }

}